{% extends 'base.html' %}
{%block content%}

<form method="post" action="{% url 'oldmantest:login_after'%}">
    {% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div>
        <label for="nickname">닉네임</label>
        <input type="text" name="nickname" id="nickname">
    </div>
    <div>
        <label for="age">나이</label>
        <input type="text" name="age" id="age">
    </div>

    <input style="display:none;" type="text" name="index" id="index" value="{{index}}">

    <button type="submit">로그인</button>
</form>

{%endblock%}