{% extends 'base.html' %}
{% block content %}
    <h1>Result</h1>
    <p> 닉네임: {{user.nickname}}</p>
    <p> 세대: {{user.generation}}</p>
    <p>사용자선택: {{user.questions}}</p>
    <p>사용자 동의 개수: {{user.count}}</p>

    <br>
    <h3>당신은  {{G.grade}}입니다. </h3>
    <p>특징1: {{G.Fone}}</p>
    <p>특징2: {{G.Ftwo}}</p>
    <p>특징3: {{G.Fthird}}</p>

    <br>
    <form method="post" action="{%url 'oldmantest:update_comment'%}" id="comment_form">
        {% csrf_token %}
        <input style="display:none;" type="text" name="random_ten" id="random_ten" value="{{random_ten}}">
        <input style="display:none;" type="text" name="nickname" id="nickname" value="{{user.nickname}}">
        <input style="display:none;" type="text" name="generation" id="generation" value="{{user.generation}}">

        <h3>COMMENT</h3>
        <textarea name="comment" id="comment" rows="1"></textarea>
        <button type="submit">등록</button>
    </form>

    <script>
        document.getElementById('comment').addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // 엔터 키 이벤트의 기본 동작 취소
                document.getElementById('comment_form').submit(); // 폼 제출
            }
        });
        
        window.onload = function() {
            document.getElementById('comment').focus();
        };
    </script>

    <br>
    <div class="realtime_comment">
        <h3>실시간 COMMENT</h3>
        {% if date_list %}
        {% for date in date_list %}
            <h5>{{ date }}</h5>
            {% for comment, values in sendComment %}
                {% if date == values.0 %}
                    <div>
                        <p style="display:inline-block;">{{ comment.nickname}}</p>
                        <p style="display:inline-block;">{{ comment.comment }}</p>
                        <p style="display:inline-block;">{{ values.1 }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% else %}
            <p>아직 코멘트가 없습니다! 첫번째로 코멘트를 남겨보세요!!</p>
        {% endif %}
    </div>

    <br>
    <div class="statistics">
        <h3>통계</h3>
        <table>
            {% for key, values in sendDict %}
                <tr>
                    <td>문제 {{forloop.counter}}번, 사용자 선택: {{ values.0}}</td>
                    <td>O 선택</td>
                    <td>X 선택</td>
                </tr>
                <tr>
                    <td>X세대</td>
                    <td>{{values.1.Plgx}}%</td>
                    <td>{{values.1.Prgx}}%</td>
                </tr>
                <tr>
                    <td>M세대</td>
                    <td>{{values.1.Plgm}}%</td>
                    <td>{{values.1.Prgm}}%</td>
                </tr>
                <tr>
                    <td>Z세대</td>
                    <td>{{values.1.Plgz}}%</td>
                    <td>{{values.1.Prgz}}%</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}