{% extends 'base.html' %}
{% block content %}
<h1> Detail </h1>

{{random_ten}}
<p>{{index}}</p>
<p>{{quiz.subject}}</p>

<form method="post" action="{% url 'mzquiz:detail'%}">
    {% csrf_token %}

    <button type="submit" name="choice" value="1">{{quiz.answer}}</button>
    <button type="submit" name="choice" value="2">{{quiz.wrong}}</button>
    
    <input style="display:none;" type="text" name="random_ten" id="random_ten" value="{{random_ten}}">
    <input style="display:none;" type="text" name="index" id="index" value="{{index}}">
    <input style="display:none;" type="text" name="count" id="count" value="{{index}}">

</form>

{% endblock %}