{% extends 'base.html' %}
{% block content %}
<h1> Detail </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{{random_ten}}
<form method="post" action="{% url 'mzquiz:detail_result'%}">
    {% csrf_token %}
    <p>{{index}}</p>
    <p>{{quiz.subject}}</p>

    <input type="radio" name="choice" id="choice1" value="1">
    <label for="choice1">{{ quiz.answer }}</label><br>

    <input type="radio" name="choice" id="choice2" value="2">
    <label for="choice2">{{ quiz.wrong }}</label><br>

    
    <input style="display:none;" type="text" name="random_ten" id="random_ten" value="{{random_ten}}">
    <input style="display:none;" type="text" name="index" id="index" value="{{index}}">

    <button type="submit">정답확인</button>
</form>

{% endblock %}